*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    background-image: url(./images/wall2.jpg);
    background-size: contain;
}
#parent{
    background-color: rgba(59, 94, 122, 0.781);
    width: 80%;
    padding: 15px;
    padding-bottom: 25px;
    margin: auto;
    margin-top: 4%;
    text-align: center;
    border-radius: 19px;
    box-shadow: rgb(14, 51, 75) 10px 10px 17px;

}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    color: aliceblue;
    
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    justify-items:self-end;
    color: white;
}
#addicon{
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgb(8, 38, 77) 4px 4px 9px;

    
}
#addicon:hover{
    transform: scale(1.2);
}
#addlist{
    display: flex;
    font-size: 24px;
    font-weight: 400;
    margin-top: 15px;
    cursor: pointer;
    text-shadow: rgb(8, 38, 77) 2px 2px 7px;

}
.addtext:hover{
    transform: scale(1.05);
}
.head{
    font-family: 'Lora', serif;
    font-weight: 800;
    font-size: 49px;
    text-shadow: rgb(26, 54, 90) 4px 4px 9px;

}
.head .li{
    font-family: 'Josefin Slab', serif;
    font-weight: 10;
    text-shadow: rgb(8, 38, 77) 4px 4px 9px;
}
.addtext{
    font-size: 27px;
    text-shadow: rgb(8, 38, 77) 4px 4px 9px;

}
.card{
    height: 50vh;
    width: 20%;
    color: rgb(15, 99, 168);
    text-align: center;
    background-color: whitesmoke;
    margin: 10px;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    border: rgb(45, 112, 189) solid 1.5px;
    padding: 7px;
    box-shadow: rgb(14, 47, 90) 4px 4px 10px ;
}
.pop{
    width: 25%;
    height: 25vh;
    background-color: aliceblue;
    margin: auto;
    text-align: center;
    align-items: center;
    position: fixed;
    left: 36%;
    top: 30%;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    color: blue;
    border-radius: 14px;
    padding: 40px 20px;
    z-index: 999;
    border: solid 2px rgb(44, 156, 248);
    box-shadow: rgb(57, 67, 82) 5px 5px 12px;
    filter: blur(0px);

}
.inputtext{
    background-color: white;
    border: rgb(44, 78, 192) solid 2px;
    border-radius: 9px;
    width: 90%;
    height: 5vh;
    text-align: center;
    margin-top: 15px;
}
.addbttn{
    color: white;
    background-color: rgb(34, 83, 155);
    border-radius: 8px;
    width: 30%;
    height: 5.4vh;
    border: 1.7px solid rgb(120, 174, 245);
    box-shadow: rgb(85, 119, 129) 3px 3px 9px;

}
.addbttn:hover{
    transform: scale(1.2);
}
.removeicons{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgb(60, 92, 112) 3px 3px 9px;
}
.removeicons:hover{
    transform: scale(1.2);
}
.text{
    color: rgb(41, 97, 219);
    font-size: 28px;
    font-weight: 700;
}

.deleteicon{
    width: 26px;
    height: 26px;
    cursor: pointer;
    margin-left: 10px;
    z-index: 99;
    border-radius: 50%;
    text-shadow: rgb(45, 61, 77) 4px 4px 9px;

}
.deleteicon:hover{
    transform: scale(1.2);
}
.notescard{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: rgb(31, 67, 121);
}
.aicons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 15px;
}
h2{
    color: white;
    font-size: 32px;
    margin: 50px;
}
hr{
    margin-top: 10px;
}

.markbtn{
    font-size: 10px;
    color:black;
    background-color: rgb(125, 163, 233);
    border-radius: 20px;
    border: none;
    margin: 10px;
    cursor: pointer;
    padding: 2px;
}
#cardop{
    display: none;
    width: 28%;
    height: 60vh;
    margin: auto;
    text-align: center;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    border-radius: 15px;
}
#cardh{
    font-size: 34px;
}
#nav2{
    display: none;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    color: aliceblue;
    
}
#backicon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
    z-index: 99;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: rgb(8, 38, 77) 4px 4px 9px;

}
#backicon:hover{
    transform: scale(1.2);
}
#back{
    display: flex;
    margin-left: 20px;
}
#textb{
    font-size: 28px;
    text-shadow: rgb(8, 38, 77) 4px 4px 9px;

}
#textb:hover{
    transform: scale(1.07);
}
.cardhead{
    font-size: 28px;
    font-weight: 550;
}
.cardhead2{
    font-weight: 600;
}